Problem: Trong quá trình tiền xử lý dữ liệu, bây h chúng ta cần phải chuẩn hóa tên cột cho thống nhất để sử dụng cho đường dài:
Trong đó:
Data 2023 có các cột: sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
Data 2024 có các cột: sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
Data 2025 có các cột:
Theo chương trình cũ: STT, SOBAODANH, Toán, Văn, Lí, Hóa, Sinh, Sử, Địa, Giáo dục công dân, Ngoại ngữ, Mã môn ngoại ngữ
Theo chương trình mới: STT, SOBAODANH, Toán, Văn, Lí, Hóa, Sinh, Tin học, Công nghệ công nghiệp, Công nghệ nông nghiệp, Sử, Địa, Giáo dục kinh tế và pháp luật, Ngoại ngữ, Mã môn ngoại ngữ
Vấn đề đặt ra: 
Nên chuẩn hóa tên cột theo dạng đơn như 2023,2024 hay là theo dạng của 2025 , trong trường hợp năm 2025 thì nên xử lý như nào vơis stt và sbd, trong khi stt chỉ là đánh dấu, còn sobaodanh vẫn giữ nguyên như 2 năm cũ
Solution:
Dùng map để ánh xạ tên cột -> sau đó chuẩn hóa về 1 dạng tên cột nhất định để sử dụng
Dùng set với STT và SOBAODANH ở năm 2025
Thêm cột vào data frame 2023, 2024 với các môn đã được thêm ở năm 2025